@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    padding: 0;
    margin: 0;
    
}

body {
    background-color: black !important;
    font-family: "Poppins", sans-serif;
  }

.full{
    background-image: url("bg.png");
    /* filter: blur(8px); */
    /* size: 100%; */
    display: flex;
    
    
}

/* Login page */

.Login{
    background-image: url("cort.jpg");
    background-size: cover;
    background-position: center; /* or other keywords or coordinates */
    background-repeat: no-repeat;
    width: 30%;
    background-color: rgb(140, 140, 14);
    border-radius: 4%;
    color: black;   
    padding: 2% 2%  2%;
    position: absolute;
    /* justify-content: center; */
    /* align-items: center; */
    top: 20% !important;
    left: 35% !important;
}

.Login input{
    margin-bottom: 5%;
}

.Login-btn button{
    margin-bottom: 4%;
    width: 300px;
}


.Login-btn label{
    margin-bottom: 4%;
}

.sigup button{
    margin-bottom: 9%;
}

#togglePassword {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }


.Signup{
    align-items: center;
    width: 40%;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    margin: 4% 0% 0% 0%;
    padding: 2%;
    position: relative;
    top: 20% !important;
    left: 35% !important;
    display: none;
}

.fs{
    margin-left: -3% !important;

}

.container h2{
    margin-bottom: 6%;
    text-align: center;
}

.Signup input{
    border: 2pt solid rgb(227, 216, 0);
    border-radius: 10px;
    margin-bottom: 5%;
    
}

.Signup button{
    margin: 4% 0% 4%;
    border-radius: 10px;
    padding: 2% 0% 2%;
}

.sigin button{
    padding: 1%;
    font-size: medium;
    padding: 0 10% 0%;
    gap: 2%;
    margin-left: 2%;
}

.sigin{
    align-items: center;
    justify-content: center;
    display: flex;

    
}